.navbar {
    background-color: transparent;
    /* color: gray; */
    font-size: large;
    display: flex;
    justify-content: flex-end;
}

.links-container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .5px solid grey;
}

.option {
    color: gray;
}
.option:hover {
    color: white;
    text-decoration: none;
}